main {
  background-color: #f2f0f4;
  padding: 40px;
  border-radius: 20px;
  margin: 0px 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#Attendance {
  font-size: 60px;
  margin-bottom: 20px;
}

main h1 {
  color: black;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.student-card {
  color: white;
  background-color: #165a84;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-card img {
  width: 100px;
}

.attendance-dropdown {
  padding: 8px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-top: 10px;
}

.attendance-dropdown:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn {
  width : fit-content;
  margin: auto;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #1c4d8a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 20px;
}

.call-to-action {
  background-image: linear-gradient(to right ,#99987D, #FFFDD0);
  padding: 60px 0px;
  border-radius: 20px;
  margin: 0px 140px;
  text-align: center;
  margin-top: 60px;
}

#btn-j{
  border-radius: 20px;
}

.call-to-action h2 {
  font-size: 36px;
  margin: 0 0 20px;
}

.call-to-action p {
  font-size: 18px;
  margin: 0 0 20px;
}

.call-to-action button {
  padding: 10px 20px;
  border: none;
  background-color: #0e2a4d;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}