.registerBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.registerBtn button {
  padding: 10px 20px;
  border: none;
  background-color: #0d213a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.student-card {
  background-color: #f2f0f4;
  padding: 40px;
  border-radius: 20px;
  margin: 0px 517px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;

}