<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <div class="container">
    <div class="text-section">
        <h1 class="heading-1">Welcome To</h1>
        <h1 class="heading-2">Campus Sphere</h1>
    </div>
    <div class="image-section">
        <img src="/images/WelcomePagePic.png" alt="Students in Library">
    </div>
  </div>

  <section class="courses-section">
    <h2>Our Courses</h2>
    <div class="courses-container">
        <div class="course-card">
            <img src="/images/WebDevLogo.png" alt="Web Development">
            <h3>Web Development</h3>
        </div>
        <div class="course-card">
            <img src="/images/MLlogo.png" alt="Machine Learning">
            <h3>Machine Learning</h3>
        </div>
        <div class="course-card">
            <img src="/images/CppLogo.png" alt="C++ Programming">
            <h3>C++ Programming</h3>
        </div>
    </div>
  </section>

  <section class="stats-section">
    <div class="stats">
        <h2>500+</h2>
        <p>Happy Students</p>
      </div>
      <div class="stats">
        <h2>100%</h2>
        <p>Attendance Rate</p>
      </div>
      <div class="stats">
        <h2>50+</h2>
        <p>Exciting Events</p>
      </div>
  </section>

  <section class="call-to-action">
    <h2>Empower Your Teaching Journey Today!</h2>
    <p>Unlock the full potential of your faculty experience</p>
    <button class="ria-button">Explore</button>
  </section>
  <!-- <br />
  <section class="about-section">
    <img src="/APHotos/image.png" alt="University Image" />
    <div class="about-text">
      <h2>About Our University</h2>
      <p>
        Welcome to the most dynamic university on the planet! Here, we don’t
        just teach; we inspire, innovate, and ignite the flames of curiosity
        in every student and faculty member...
      </p>
    </div>
  </section> -->

<%- include('../includes/end.ejs') %>
