<%- include('../includes/head.ejs') %>
    
    <!-- ICONSCOUT  -->
    <!-- <link rel="stylesheet" href="https://unicons/iconscout.com/release/v4.0.0/css/line.css"> -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="container">
        <header>Registration</header>
      
      
      
      
        <form action="/register" method="POST">
            <div class="form-first">
                <div class="personal-details">
                    <span class="title">Personal Details:</span>
<!-- another div after personal-details  -->
                    
                    <div class="fields">
                      <div class="input-field">
                        <label for="">Full Name</label>
                        <input type="text" name="fullname" placeholder="enter your name"  required>
                      </div>

                      <div class="input-field">
                        <label for="">Roll Number</label>
                        <input type="text" name="rollno" id="" placeholder="enter your roll number"  required>
                      </div>

                      <div class="input-field">
                        <label for="">Date of Birth</label>
                        <input type="date" name="dob" placeholder=""  required>
                      </div>


                      <div class="input-field">
                        <label for="">Email</label>
                        <input type="email" name="email" id="" placeholder="enter your email"  required>
                      </div>


                      <!-- copying for checking code  -->
                      <div class="input-field">
                        <label for="">Mobile Number</label>
                        <input type="tel" name="mobno" id="" placeholder="enter your number"  required>
                      </div>

                      <div class="input-field">
                        <label for="">Gender</label>
                        
                        <select id="dropdown1" name="gender">
                            <option value="" selected>--select--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Transgender">Transgender</option>
                            <option value="Prefer not to say">Prefer Not to say</option>
                        </select>
                      </div>
                      
                      <div class="input-field">
                          <label for="">Father's Name</label>
                          <input type="text" name="father" id="" placeholder="enter your Father name"  required>
                        </div>
                        
                      <div class="input-field">
                          <label for="">Mother's Name</label>
                          <input type="text" name="mother" id="" placeholder="enter your Mother name"  required>
                        </div>


                      
                      <div class="input-field">
                        <label for="">Blood Group</label>
                        <input type="text" name="bldgrp" id="" placeholder="enter your blood-group"  required>
                      </div>
                      
                      
                      
                      
                      <div class="input-field">
                          <label for="">City</label>
                          <input type="text" name="city" id="" placeholder="enter your city"  required>
                        </div>

                      <div class="input-field">
                          <label for="">State</label>
                          <input type="text" name="state" id="" placeholder="enter your state"  required>
                        </div>

                      <div class="input-field">
                          <label for="">Nationality</label>
                          <input type="text" name="nat" id="" placeholder="enter your country"  required>
                        </div>

                        

                        <!-- <div class="input-field">
                        <label for="">Category</label>
                        
                        <select id="dropdown1" name="cat">
                            <option value="option" selected>--select--</option>
                            <option value="option1">General</option>
                            <option value="option2">SC</option>
                            <option value="option3">ST</option>
                            <option value="option4">OBC</option>
                        </select>
                      </div>           -->
                                              


                      <!-- <div class="input-field">
                          <label for="">Year of Study</label>
                          
                          <select id="dropdown1" name="yos">
                              <option value="option" selected>--select--</option>
                              <option value="option1">I</option>
                              <option value="option2">II</option>
                              <option value="option3">III</option>
                              <option value="option4">IV</option>
                              
                            </select>
                            
                        </div> -->
                        <!-- <div class="input-field">
                          <label for="">Batch</label>
                          
                          <input type="text" name="" id="" placeholder="" required>
                          
                        </div>


                      <div class="input-field">
                        <label for="">Course Enrolled</label>
                        <input type="text" name="" id="" placeholder="Enrolled-course"  required>
                      </div> -->
                      


                    <!-- </div> -->
                    
                    <button class="Btn" type="submit">

                        <span class="btnText">Submit</span>
                        <!-- <i class="uil uil-navigator"></i> -->

                        
                    </button>

                </div>
            </div>
        </form>


    </div>
</body>
</html>