footer {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo img {
  height: 80px;
}

.footer-sections {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.footer-column {
  margin-right: 40px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
}

.footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.newsletter-form {
  position: relative; /* Establishes a relative position context */
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the container takes up the full width */
  /* max-width: 300px; Optional: limit the width of the container */
}

.newsletter-form input[type="email"] {
  padding: 10px 20px; /* Added padding to allow space for overlapping */
  background-color: #07293E;
  color: white;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  width: 100%; /* Input takes up full width */
  position: relative;
  z-index: 1; /* Input is positioned below the button */
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.newsletter-form button {
  margin: 0;
  padding: 10px 30px;
  font-size: 13px;
  font-weight: 600;
  border: none;
  background-color: #99987D; /* Button color */
  color: white;
  border-radius: 20px;
  cursor: pointer;
  position: absolute; /* Overlaps the input */
  right: -50px; /* Aligns the button to the right edge */
  top: 0px; /* Vertically centers the button */
  /* transform: translateY(-50%); Adjusts for the button’s height */
  z-index: 2; /* Ensure the button appears above the input */
  height: 100%; /* Make the button the same height as the input */
}

.newsletter-form button:hover {
  background-color: #66654f; /* Button hover color */
}
