* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Outfit;
  background-color: #133C55;
}

h1{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
}

.nav-list{
  list-style-type: none;
  background-image: linear-gradient(to right, #FFFDD0,#99987D);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.nav-list li {
  padding: 15px 15px;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.nav-list a:hover,
.nav-list a:active,
.nav-list a.active {
  color: #0078B8;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  color : white;
  background-color: #99987D;
  border-radius: 30px;
  padding: 15px;
}

.auth-buttons a {
  text-decoration: none;
  font-weight: 500;
  color : white;
  font-size: 16px;
}

.auth-buttons a:hover,
.auth-buttons a:active,
.auth-buttons a.active {
  color: black;
}

.signup {
  width: max-content;
}



