body {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.container{
    margin-top: 0px;
    background-color: #fff;
    max-width: 900px;
    width: 100%;
    position: relative;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    color: #333;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    /* background-color: #fff; */


    background-color: #f2f2f2;
}
.container header::before{
    content: "";
    position: absolute;
    left:0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: #407074;
    border-radius: 8px;
}
.container form .personal-details{
    margin-top: 30px;

}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;

}
.container form .fields{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    flex-direction: column;

    width: calc(100% /3-15px);
    margin: 4px 0;


}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input,select{
    outline: none;
    border: 1px solid #aaa;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.14) ;
}
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.name-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-container input{
    height: 43px;
    text-align: center;
}
.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    background-color: #4070f4;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    transition: all 0.3s linear ;
    cursor: pointer;

}
button a{
    text-decoration: none;
    color:#fff;
}
form button:hover{
    background-color: #265df2;
}
form button i{
    margin: 0 6px;
}
#field1{
    margin-top: -5px;
}
#twelve{
    margin-top: -21px;
}
#field2{
    margin-top: -5px;
}
form .buttonss{
    display: flex;
    align-items: center;


}
form .buttonss button{
    margin-right: 100px;
}
.backbtn i{
    transform: rotate(180deg);
}